@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
  }
  
  /* Navbar styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #0a0a0a;
    position: sticky;
    top: 0;
    z-index: 100;
    font-size: 18px;
  }
  
  .logo{
    font-size: 24px;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

  .logo:hover{
    transform: scale(1.1);
}
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #ccc;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover,
  .nav-links li a.active {
    color: #d16c6c;
  }
  
  .menu-toggle {
    display: none;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
  }
  
  /* About Section */
  .about-section {
    max-width: 800px;
    margin: 80px auto;
    padding: 0 20px;
  }
  
  .about-section h1 {
    font-size: 36px;
    color: #d16c6c;
    margin-bottom: 20px;
  }
  
  .about-section p {
    line-height: 1.7;
    margin-bottom: 16px;
    color: #ccc;
    font-size: 18px;
  }
  
  /* Responsive */
  @media screen and (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      background-color: #0a0a0a;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      display: none;
      padding: 10px 0;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
    }
  
    .about-section {
      margin: 60px 10px;
    }
  
    .about-section h1 {
      font-size: 28px;
    }
  
    .about-section p {
      font-size: 16px;
    }
  }
  